<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.gpfeifer.calendar.ui.NotesApplicationID"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="de.gpfeifer.calendar.ui.NotesApplication">
         </run>
      </application>
   </extension>

   <extension
         id="de.gpfeifer.calendar.ui.ApplicationID"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="de.gpfeifer.calendar.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="de.gpfeifer.calendar.ui.Perspective"
            id="de.gpfeifer.calendar.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.gpfeifer.calendar.ui.views.SynchView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.gpfeifer.calendar.ui.ApplicationID"
            name="No2Go">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/g.gif">
         </property>
         <property
               name="appName"
               value="No2Go">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.gpfeifer.calendar.ui.preferences.PreferencePageGeneral"
            id="de.gpfeifer.calendar.ui.preferences.PreferencePageGeneral"
            name="General">
      </page>
      <page
            class="de.gpfeifer.calendar.ui.preferences.PreferencePageGoogle"
            id="de.gpfeifer.calendar.ui.preferences.PreferencePageGoogle"
            name="Google">
      </page>
      
       <page
             class="de.gpfeifer.calendar.ui.preferences.PreferencePageNotes"
             id="de.gpfeifer.calendar.ui.preferences.PreferencePageNotes"
             name="Lotus Notes">
      </page>
      
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.gpfeifer.calendar.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.gpfeifer.calendar.ui"
            name="Calendar">
      </category>
      <view
            category="de.gpfeifer.calendar.ui"
            class="de.gpfeifer.calendar.ui.views.SynchView"
            icon="icons/sample.gif"
            id="de.gpfeifer.calendar.ui.views.SynchView"
            name="Synchronisation View">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.gpfeifer.calendar.ui.command.ExitHandler"
            id="de.gpfeifer.calendar.ui.command.exit"
            name="Exit">
      </command>
   </extension>
   <extension
         id="de.gpfeifer.calendar.ui.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.gpfeifer.calendar.ui.ApplicationID"
            name="name">
      </product>
   </extension>
   <extension
         id="no2go"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.gpfeifer.calendar.ui.ApplicationID"
            name="No2Go">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/g.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="appName"
               value="No2Go">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
