<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.gpfeifer.no2go.e4.app"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="de.gpfeifer.no2go.e4.app">
         </property>
         <property
               name="applicationXMI"
               value="de.gpfeifer.no2go.e4.app/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/de.gpfeifer.no2go.e4.app/css/default.css">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://de.gpfeifer.no2go.e4.app/de.gpfeifer.no2go.e4.app.LifeCycleManager">
         </property>
         <property
               name="windowImages"
               value="icons/no2go_16.gif,icons/no2go_32.gif">
         </property>
      </product>
   </extension>

</plugin>
